@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.navbar {
  background: #333;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a.active {
  font-weight: bold;
  color: #fc0;
}
